extends layout

block content
  h1= title
  p Welcome to our Company Ganztouch.
  p It's a great place to work.
  p Ganztouch was founded in 2017 by a small team of entrepenuers that wanted to help communities by providing comprehensive services to non profits in the area.
  img(src="/images/mshda.png")
  
  h2= "Reid Fulton"
  p Reid Fulton is the Owner and CEO of Ganztouch. He has worked closely with the Flint community in order to help local businesses get up and running with startups. Reid has over 10 years experience working with Computer Systems with 2 years System Administration and networking. 
  <br> As the owner of Ganztouch, I personally ensure that our consultants try and provide the best service as the most affordable price. <br>
  img(src="/images/generic.jpg" width="600" height="800")
  
  h3= "Edmund Durfee"
  p A consultant: No Bio-Availible
  
  h3= "Noah Dvoracek"
  p A consultant: No Bio-Availible