extends layout

block content
  h1= title
  p Contact information for the team!
  
  h1= "Reid Fulton"
  p Phone - (989)-450-2003
  p Email Reid.fulton1@gmail.com
  
  h1= "Edmund Durfee"
  
  h1= "Noah Dvoracek"