extends layout

block content
  h1= title
  p Welcome to Ganztouch, Where we make your software development needs easy.
  img(src="/images/logo.png", class="CEO" style="width:800px;height:600px")
  
  h2="Clients"
  p Ganztouch has worked with many big name companies such as IBM, Microsoft, Dell while supporting local non profits in the area.
  
  
 